.DS_Store
__pycache__
.ipynb_checkpoints
wandb/
artifacts/
local_model_hub/
model_checkpoints/
recipes/

# eval/
# scripts/
misc/

# safety_evaluation/question_outputs/
# safety_evaluation/gpt4_eval_output/

utility_evaluation/alpacaeval/
utility_evaluation/mt_bench/data/model_answer/
# utility_evaluation/mt_bench/data/model_judgment

src/llama_recipes/models/hf_gpt2/
src/llama_recipes/models/hf_llama2/
src/llama_recipes/models/hf_llama3/